/* Optional CSS to enhance modal appearance */

/* Center modal vertically */
.modal-dialog {
    margin: 30px auto;
}

/* Increase modal width for larger content */
.modal-lg {
    max-width: 800px;
}

/* Style for modal header */
.modal-header {
    background-color: #007bff;
    /* Blue background */
    color: #fff;
    /* White text */
    border-bottom: 1px solid #dee2e6;
    /* Light gray border */
}

/* Close button style */
.close {
    color: #fff;
    /* White close button */
}

/* Form input style */
.form-control {
    border-color: #ced4da;
    /* Gray border */
}

/* Primary button style */
.btn-primary {
    background-color: #007bff;
    /* Blue background */
    border-color: #007bff;
    /* Blue border */
}

/* Primary button hover style */
.btn-primary:hover {
    background-color: #0069d9;
    /* Darker blue on hover */
    border-color: #0062cc;
    /* Darker blue border on hover */
}

.form-group {
    padding-top: 10px;
}

/* Custom CSS for top slide animation */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.top-slide .modal-dialog {
    animation: slideInFromTop 0.5s ease-out;
}

/* src/app/app.component.css */
.slider {
    position: relative;
    width: 50%;
    overflow: hidden;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 50%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

img {
    height: 200px;
}