<!-- Add this in your Angular component's HTML file -->
<button type="button" class="btn btn-primary" routerLink="/admin/addproduct">Add Product</button>

<div *ngIf="loading" class="loader-container">
    <div class="loader"></div>
</div>
<div *ngIf="!loading" class="product-section py-5">
    <div class="container">
        <!-- Products Container -->
        <div class="row" id="product-list">
            <div *ngFor="let product of products" class="col-12 col-md-4 col-lg-3 mb-5">
                <div class="product-card card h-100">
                    <a class="product-item" routerLink="#">
                        <img [src]="'data:image/' + product.productImages[0].type + ';base64,' + product.productImages[0].picBytes"
                            class="card-img-top" alt="{{ product.title }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" id="product-title">{{ product.title }}</h5>
                        <p class="card-text">
                            <strong id="product-price">₹{{ product.price.toFixed(2) }}</strong>
                        </p>
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-outline-primary"
                                [routerLink]="['/admin/product', product.id]">View</button>
                            <button class="btn btn-outline-secondary"
                                [routerLink]="['/admin/editproduct', product.id]">Edit</button>
                            <button class="btn btn-outline-danger" (click)="deleteProduct(product.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>