<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-5">
            <h2 class="text-center mb-3">BuyFurn<span>.</span></h2>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Create Account</h5>
                    <form (ngSubmit)="generateOtp()" #registrationForm="ngForm">
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Your Name</label>
                            <input type="text" id="fullName" name="fullName" class="form-control" required
                                [(ngModel)]="user.name" #fullName="ngModel">
                            <div *ngIf="fullName.invalid && fullName.touched" class="text-danger">
                                Name is required.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" name="email" class="form-control" required
                                [(ngModel)]="user.email" #email="ngModel">
                            <div *ngIf="email.invalid && email.touched" class="text-danger">
                                Valid email is required.
                            </div>
                            <p *ngIf="emailIdExits" class="text-danger">This email is already
                                registered.</p>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="password" class="form-control" required
                                [(ngModel)]="user.pasword" #password="ngModel">
                            <div *ngIf="password.invalid && password.touched" class="text-danger">
                                Password is required.
                            </div>
                        </div>
                        <button type="submit" class="btn w-100" [disabled]="registrationForm.invalid">Verify
                            email</button>
                    </form>
                    <p *ngIf="registrationError" class="text-danger text-center mt-3">Registration failed. Please try
                        again.</p>
                    <div class="mt-3 text-center">
                        <span>Already have an account? </span>
                        <a class="link-primary" routerLink="/login">Login here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>