h2 span {
    color: #ffcc00;
}

form .btn {
    background-color: #ffcc00;
    border-color: #ffcc00;
}

form .btn:hover {
    background-color: #f5c70d;
}

form .btn:active {
    background-color: #ffce09;
}