<div class="container mb-3">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-4">
            <h2 class="text-center mb-3">BuyFurn<span>.</span></h2>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Login</h5>
                    <form (ngSubmit)="login()" #loginForm="ngForm">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" id="email" name="email" class="form-control" required
                                [(ngModel)]="username" #email="ngModel">
                            <div *ngIf="email.invalid && email.touched" class="text-danger">Email is required</div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="password" class="form-control" required
                                [(ngModel)]="password" #pass="ngModel">
                            <div *ngIf="pass.invalid && pass.touched" class="text-danger">Password is required
                            </div>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                        <button type="submit" class="btn w-100" [disabled]="loginForm.invalid">Login</button>
                    </form>
                    <p *ngIf="loginError" class="text-danger text-center mt-3">Invalid username or password.</p>
                    <div class="d-flex justify-content-between mt-3">
                        <a href="#" class="link-primary" (click)="forgotPassword()">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-3">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-4">
            <div class="card register">
                <a routerLink="/register" class="btn">Create your accout</a>
            </div>
        </div>
    </div>
</div>