<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="text-center mb-4">Edit Product</h3>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" [(ngModel)]="product.id" name="id" disabled>
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" [(ngModel)]="product.title" name="title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" [(ngModel)]="product.description"
                        name="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="productImages">Product Images</label>
                    <input type="file" class="form-control" id="productImages" multiple (change)="onFileChange($event)">
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" step="10" class="form-control" id="price" [(ngModel)]="product.price"
                        name="price">
                </div>
                <div class="form-group">
                    <label for="warranty">Warranty</label>
                    <input type="text" class="form-control" id="warranty" [(ngModel)]="product.warranty"
                        name="warranty">
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" [(ngModel)]="product.category" name="category">
                        <option value="" disabled selected>Select Category</option>
                        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="color">Color</label>
                    <input type="text" class="form-control" id="color" [(ngModel)]="product.color" name="color">
                </div>
                <div class="form-group">
                    <label for="material">Material</label>
                    <input type="text" class="form-control" id="material" [(ngModel)]="product.material"
                        name="material">
                </div>
                <div class="form-group">
                    <label for="seatingCapacity">Seating Capacity</label>
                    <input type="number" class="form-control" id="seatingCapacity" [(ngModel)]="product.seatingCapacity"
                        name="seatingCapacity">
                </div>
                <div class="form-group">
                    <label for="weight">Weight(kg)</label>
                    <input type="number" step="0.01" class="form-control" id="weight" [(ngModel)]="product.weight"
                        name="weight">
                </div>
                <div class="form-group">
                    <label for="careAndMaintenance">Care and Maintenance</label>
                    <textarea class="form-control" id="careAndMaintenance" [(ngModel)]="product.careAndMaintenance"
                        name="careAndMaintenance"></textarea>
                </div>
                <div class="form-group">
                    <label for="stock">Stock options</label>
                    <select class="form-control" id="stock" [(ngModel)]="product.stockStatus" name="stock">
                        <option value="" disabled>Select stock option</option>
                        <option *ngFor=" let stock of stockOptions" [value]="stock">{{stock}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Update Product</button>
                </div>
            </form>
        </div>
    </div>
</div>