<app-slider></app-slider>


<!-- Product Section -->
<div class="product-section py-5">
    <div class="container">
        <!-- Introductory Section -->
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="intro-section text-left">
                    <h2 class="mb-4 section-title">Crafted with excellent material.</h2>
                </div>
            </div>
        </div>

        <!-- calling product componet -->
        <app-product-section></app-product-section>

        <!-- View More Button -->
        <div class="row">
            <div class="col-12 text-end">
                <a class="btn btn-outline-primary" routerLink="/furniture">View More <i
                        class=" bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- product section end -->