#heroCarousel {
    background-color: #3b5d50;
    color: white;
    width: 100%;
    height: 70vh;
}


img {
    height: 400px;
}

.custom-btn {
    background-color: #ffcc00;
    /* Custom background color */
    padding: 0.75rem 1.5rem;
    /* Custom padding */
    font-size: 1rem;
    /* Custom font size */
    font-weight: bold;
    /* Bold text */
    border-radius: 30px !important;
    /* Rounded corners */
    transition: all 0.3s ease;
    /* Smooth transition */
}

.custom-btn:hover {
    background-color: #e6b800;
    /* Darker shade for hover */
    color: #ffffff;
    /* White text on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Shadow effect on hover */
    transform: translateY(-2px);
    /* Slight lift effect on hover */
}

.custom-btn:active {
    background-color: #cc9900;
    /* Even darker shade for active state */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Reduced shadow on active */
    transform: translateY(0);
    /* No lift effect on active */
}

.carousel-control-next,
.carousel-control-prev {
    width: 10% !important;
}