.product-container {
    margin-top: 50px;
}

.product-image {
    max-width: 100%;
    height: auto;
    background-color: whitesmoke;
}

.product-details {
    padding: 20px;
}

.product-title {
    font-size: 2rem;
    font-weight: bold;
}

.product-price {
    font-size: 1.5rem;
    color: #d9534f;
}

.product-description {
    margin-top: 20px;
}

.product-cta {
    margin-top: 30px;
}

.product-quantity {
    margin-top: 20px;
}

.product-quantity select {
    margin-left: 10px;
}

.product-extra {
    margin-top: 30px;
}

.product-warranty {
    margin-top: 20px;
}

.product-warranty h4 {
    font-weight: bold;
}

details {
    margin-top: 10px;
    padding: 10px;
}

details summary {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

details[open] {
    background-color: #f9f9f9;
}

details p {
    margin-top: 10px;
}

.image-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    /* Adjust height as needed */
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.product-image {
    width: 100%;
    height: auto;
}

.slider-controls {
    margin-top: 10px;
    text-align: center;
}

.slider-controls button {
    margin: 0 5px;
}

.product-details .btn {
    border-radius: 0px;
    padding-left: 28px;
    padding-right: 28px;
}