<!-- shop.component.html -->
<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h2>Furniture</h2>
                </div>
            </div>
            <div class="col-lg-7 d-flex justify-content-end">
                <div class="filter-section input-group">
                    <input type="text" class="form-control" placeholder="Search Product" [(ngModel)]="filterText">
                    <button class="btn" (click)="onSearch()">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Category Filter Dropdown -->
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-end">
            <div class="input-group mb-3" style="max-width: 300px;">
                <label class="input-group-text" for="categorySelect">Filter by</label>
                <select class="form-control" id="category" name="category">
                    <option value="" disabled selected>Category</option>
                    <!-- <option value="" selected>All</option> -->
                    <option *ngFor=" let category of categories" [value]="category">{{category}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<app-product-section [filterText]="search"></app-product-section>