<!-- Start Footer Section -->
<footer class="footer-section bg-dark text-light pt-5 pb-3">
    <div class="container relative">
        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap">
                    <a routerLink="" class="footer-logo text-light fs-2 fw-bold">BuyFurn<span>.</span></a>
                </div>
                <p class="mb-4 text-justify">
                    Explore BuyFurn for quality, comfortable furniture that blends style and functionality from modern
                    designs to timeless classics. Transform your space with elegance today.
                </p>
                <ul class="list-unstyled custom-social d-flex">
                    <li class="me-3"><a routerLink="#"><span class="bi bi-facebook text-light fs-4"></span></a></li>
                    <li class="me-3"><a routerLink="#"><span class="bi bi-twitter text-light fs-4"></span></a></li>
                    <li class="me-3"><a routerLink="#"><span class="bi bi-instagram text-light fs-4"></span></a></li>
                    <li class="me-3"><a routerLink="#"><span class="bi bi-linkedin text-light fs-4"></span></a></li>
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3 mb-3">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light">About us</a></li>
                            <li><a href="#" class="text-light">Services</a></li>
                            <li><a href="#" class="text-light">Blog</a></li>
                            <li><a href="#" class="text-light">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3 mb-3">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light">Support</a></li>
                            <li><a href="#" class="text-light">Knowledge base</a></li>
                            <li><a href="#" class="text-light">Live chat</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3 mb-3">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light">Jobs</a></li>
                            <li><a href="#" class="text-light">Our team</a></li>
                            <li><a href="#" class="text-light">Leadership</a></li>
                            <li><a href="#" class="text-light">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3 mb-3">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light">Nordic Chair</a></li>
                            <li><a href="#" class="text-light">Kruzo Aero</a></li>
                            <li><a href="#" class="text-light">Ergonomic Chair</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-top border-secondary copyright pt-4">
            <div class="row">
                <div class="col-lg-6 mb-2 mb-lg-0 text-center text-lg-start">
                    <p class="mb-0">&copy; {{ currentYear }}. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="#" class="text-light text-decoration-none">Terms &amp; Conditions</a>
                        </li>
                        <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Section -->