<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Your Account</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <a routerLink="/userprofile" class="text-decoration-none text-dark">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <i class="bi bi-person-lines-fill fs-1"></i>
                        <h2 class="card-title">Your Profile</h2>
                        <p class="card-text">Manage your profile information</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="/orders" class="text-decoration-none text-dark">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <i class="bi bi-bag-fill fs-1"></i>
                        <h2 class="card-title">Your Orders</h2>
                        <p class="card-text">View and track your orders</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>