/* Sidebar styles */
.sidebar {
    height: 100vh;
    position: fixed;
}

.main {
    margin-left: 250px;
    /* Adjust based on sidebar width */
}

.nav-link {
    color: white;
}

.nav-link.active {
    background-color: #007bff;
    color: #fff;
}

.nav-link:hover {
    background-color: #0056b3;
    color: #fff;
}

@media (max-width: 767.98px) {
    .sidebar {
        position: static;
        height: auto;
    }

    .main {
        margin-left: 0;
    }

    .navbarNav {
        display: flex !important;
    }

    .navbar-toggler:focus {
        /* text-decoration: none; */
        outline: 0;
        box-shadow: none !important;
    }
}