.navbar {
    background-color: #3b5d50;
    color: white;
}

.navbar-brand span {
    color: #ffcc00;
    /* Accent color */
}

/* General link styles */
.nav-link {
    color: white;
    /* Default color */
    text-decoration: none;
    transition: color 0.3s ease;
}


/* Hover effect for links */
.nav-link:hover {
    color: #ffcc00;
    /* Accent color for hover */
    /* Space between text and underline */

}

/* Hover effect for images/icons */
.custom-navbar-cta .nav-link i {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.custom-navbar-cta .nav-link:hover i {
    transform: scale(1.1);
    /* Slightly enlarge the image on hover */
    filter: brightness(1.2);
    /* Increase brightness on hover */
}


/* ///////////////////////// */
.custom-navbar-cta {
    display: flex;
    /* align-items: center; */
    gap: 15px;
    /* Adjust the space between icons as needed */
    margin-left: 0px;
    /* Ensures icons stay on the left side if navbar is not collapsed */
}

.custom-navbar-cta .nav-link {
    display: flex;
    /* align-items: center; */
    padding: 0;
    color: #fff;
    /* Adjust color as needed */
}

.custom-navbar-cta .nav-link i {
    font-size: 1.5rem;
    /* Adjust icon size as needed */
    color: inherit;
    /* Ensure the icon inherits the link color */
}

a {
    cursor: pointer;
}

@media (max-width: 767.98px) {
    .custom-navbar-cta {
        /* justify-content: center; */
        /* Center align icons on smaller screens if needed */
        margin-left: 0;
        /* Remove left margin on smaller screens */
    }
}