<!-- src/app/components/product/product.component.html -->
<div class="product-section py-5">
    <div class="container">

        <!-- Products Container -->
        <div class="row" id="product-list">
            <div *ngFor="let product of filteredProducts" class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" routerLink="/product">
                    <img [src]=" product.image" class="img-fluid product-thumbnail" [alt]="product.title">
                    <h3 id="product-title">{{ product.title }}</h3>
                    <strong id="product-price">₹{{ product.price.toFixed(2) }}</strong>
                </a>
            </div>
        </div>
    </div>
</div>