/* src/app/components/product/product.component.css */
/* General product section styles */
.product-section {
    background-color: #f8f9fa;
    padding: 2rem 0;
}

.intro-section {
    margin-bottom: 2rem;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.btn-primary {
    background-color: #ffcc00;
    border: none;
    color: #212529;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}


.btn-primary:hover {
    background-color: #e6b800;
    color: #fff;
}

.btn-secondary {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #0056b3;
}

/* Product item styles */
.product-item {
    display: block;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    text-decoration: none;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-thumbnail {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
}

#product-title,
#product-price {
    color: #333;
    margin-bottom: 0.5rem;
    text-decoration: dotted;
}

#product-title {
    font-size: large;
}

img {
    height: 200px;
    width: 200px;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    /* Adjust height as needed */
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3b5d50;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}